# Data Cleansing - Excel Files

As part of the data selection for this analysis, will first check my Excel files to see if there's any gender - based data that could help on the hypothesis of this study. <br />
For this will use `read_excel` from `pandas` library.

In [1]:
import pandas as pd
import numpy as np

For this analysis I found 4 files of information from [Mexican Government Data Sourcing](https://datos.gob.mx/)<br />
* Science
* Education
* Employment
* Living Place

### Science

In [ ]:
df_ciencia = pd.read_excel('Data\ciencia_00.xlsx')

In [36]:
df_ciencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cve_entidad     25 non-null     int64
 1   desc_entidad    25 non-null     object
 2   cve_municipio   25 non-null     int64
 3   desc_municipio  25 non-null     object
 4   id_indicador    25 non-null     int64
 5   indicador       25 non-null     object
 6   2010            5 non-null      float64
 7   2011            25 non-null     float64
 8   2012            5 non-null      float64
 9   2013            25 non-null     float64
 10  2014            5 non-null      float64
 11  2015            25 non-null     float64
 12  2016            25 non-null     float64
 13  unidad_medida   25 non-null     object
dtypes: float64(7), int64(3), object(4)
memory usage: 2.9+ KB

### Education

In [13]:
df_educacion = pd.read_excel('Data\educacion_00.xlsx')

In [37]:
df_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45618 entries, 0 to 45617
Data columns (total 44 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cve_entidad     45618 non-null  int64
 1   desc_entidad    45618 non-null  object
 2   cve_municipio   45618 non-null  int64
 3   desc_municipio  45618 non-null  object
 4   id_indicador    45618 non-null  int64
 5   indicador       45618 non-null  object
 6   1910            93 non-null     float64
 7   1921            96 non-null     float64
 8   1930            96 non-null     float64
 9   1940            96 non-null     float64
 10  1950            96 non-null     float64
 11  1960            96 non-null     float64
 12  1970            99 non-null     float64
 13  1980            96 non-null     float64
 14  1990            396 non-null    float64
 15  1991            132 non-null    float64
 16  1992            132 non-null    float64
 17  1993            132 non-null    float64
 18  1994            132 non-null    float64
 19  1995            5221 non-null   object
 20  1996            132 non-null    float64
 21  1997            132 non-null    float64
 22  1998            132 non-null    float64
 23  1999            132 non-null    float64
 24  2000            7981 non-null   object
 25  2001            132 non-null    float64
 26  2002            132 non-null    float64
 27  2003            132 non-null    float64
 28  2004            132 non-null    float64
 29  2005            5304 non-null   float64
 30  2006            132 non-null    float64
 31  2007            132 non-null    float64
 32  2008            132 non-null    float64
 33  2009            132 non-null    float64
 34  2010            8102 non-null   float64
 35  2011            132 non-null    float64
 36  2012            132 non-null    float64
 37  2013            132 non-null    float64
 38  2014            165 non-null    float64
 39  2015            39949 non-null  object
 40  2016            165 non-null    float64
 41  2017            33 non-null     float64
 42  2020            27522 non-null  float64
 43  unidad_medida   45618 non-null  object
dtypes: float64(34), int64(3), object(7)
memory usage: 15.3+ MB

### Labour

In [31]:
df_empleo = pd.read_excel('Data\empleo_00.xlsx')

In [41]:
df_empleo.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62681 entries, 0 to 62680
Data columns (total 102 columns):
 #   Column          Dtype
---  ------          -----
 0   cve_entidad     int64
 1   desc_entidad    object
 2   cve_municipio   int64
 3   desc_municipio  object
 4   id_indicador    int64
 5   indicador       object
 6   1988            float64
 7   1991            float64
 8   1994            float64
 9   1995            object
 10  1996            float64
 11  1997            object
 12  1998            float64
 13  1999            object
 14  2000            float64
 15  2001            float64
 16  2002            float64
 17  2003            float64
 18  2004            float64
 19  2005            float64
 20  2005/t1         float64
 21  2005/t2         float64
 22  2005/t3         float64
 23  2005/t4         float64
 24  2006            float64
 25  2006/t1         float64
 26  2006/t2         float64
 27  2006/t3         float64
 28  2006/t4         float64
 29  2007            float64
 30  2007/t1         float64
 31  2007/t2         float64
 32  2007/t3         float64
 33  2007/t4         float64
 34  2008            float64
 35  2008/t1         float64
 36  2008/t2         float64
 37  2008/t3         float64
 38  2008/t4         float64
 39  2009            float64
 40  2009/t1         float64
 41  2009/t2         float64
 42  2009/t3         float64
 43  2009/t4         float64
 44  2010            float64
 45  2010/t1         float64
 46  2010/t2         float64
 47  2010/t3         float64
 48  2010/t4         float64
 49  2011            float64
 50  2011/t1         float64
 51  2011/t2         float64
 52  2011/t3         float64
 53  2011/t4         float64
 54  2012            float64
 55  2012/t1         float64
 56  2012/t2         float64
 57  2012/t3         float64
 58  2012/t4         float64
 59  2013            float64
 60  2013/t1         float64
 61  2013/t2         float64
 62  2013/t3         float64
 63  2013/t4         float64
 64  2014            float64
 65  2014/t1         float64
 66  2014/t2         float64
 67  2014/t3         float64
 68  2014/t4         float64
 69  2015            object
 70  2015/t1         float64
 71  2015/t2         float64
 72  2015/t3         float64
 73  2015/t4         float64
 74  2016            float64
 75  2016/t1         float64
 76  2016/t2         float64
 77  2016/t3         float64
 78  2016/t4         float64
 79  2017            float64
 80  2017/t1         float64
 81  2017/t2         float64
 82  2017/t3         float64
 83  2017/t4         float64
 84  2018            float64
 85  2018/t1         float64
 86  2018/t2         float64
 87  2018/t3         float64
 88  2018/t4         float64
 89  2019            float64
 90  2019/t1         float64
 91  2019/t2         float64
 92  2019/t3         float64
 93  2019/t4         float64
 94  2020            float64
 95  2020/t1         float64
 96  2020/t3         float64
 97  2020/t4         float64
 98  2021/t1         float64
 99  2021/t2         object
 100 2021/t3         object
 101 unidad_medida   object
dtypes: float64(89), int64(3), object(10)
memory usage: 48.8+ MB

### Living Places

In [33]:
df_vivienda = pd.read_excel('Data\hogar_00.xlsx',
                           sheet_name='valor')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cve_entidad     25 non-null     int64
 1   desc_entidad    25 non-null     object
 2   cve_municipio   25 non-null     int64
 3   desc_municipio  25 non-null     object
 4   id_indicador    25 non-null     int64
 5   indicador       25 non-null     object
 6   2010            5 non-null      float64
 7   2011            25 non-null     float64
 8   2012            5 non-null      float64
 9   2013            25 non-null     float64
 10  2014            5 non-null      float64
 11  2015            25 non-null     float64
 12  2016            25 non-null     float64
 13  unidad_medida   25 non-null     object
dtypes: float64(7), int64(3), object(4)
memory usage: 2.9+ KB

### Is the data useful?

As per the information of our sources, we see than we only have categorical data per year but not segmented by gener; therefore, we can consider this source as a valuable input to evidence the glass ceiling that mexican women have currently.