# Glass Ceiling
# A Perspective on Population on Formal Economical Activities

## Objective: 
To show the differences in ocupation by mexican woman during the last 15 years on formal economies and work places.<br /> After our data exploration, we're just working with three data sources which are:
* **Labour population with formal economical activity**
* Busy population with informal economical activity
* Percentage of population who earn at least three times the minimum wage

## Concentration of population by gender per year.

The further analysis is to show and make a statment of the disparity of the mexican woman on economical activities.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

We read our csv:

In [12]:
formal_eco=pd.read_csv('Poblacion_Ocupada_Actividad_Economica.csv')

In [13]:
formal_eco.head()

,Periodo,Entidad_Federativa,Sexo,Grupo_edad,Actividad_economica,Numero_personas
0,20200301,Chiapas,Hombre,45 A 64 AÑOS,Servicios Sociales,20033.0
1,20200301,Chihuahua,Mujer,15 A 24 AÑOS,"Agricultura, Ganadería, Silvicultura, Caza y P...",820.0
2,20200301,Chihuahua,Mujer,45 A 64 AÑOS,"Servicios Profesionales, Financieros y Corpora...",14172.0
3,20200301,Ciudad de México,Mujer,15 A 24 AÑOS,Industria Manufacturera,23434.0
4,20200301,Ciudad de México,Mujer,25 A 44 AÑOS,Restaurantes y Servicios de Alojamiento,77169.0

In [14]:
formal_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24502 entries, 0 to 24501
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Periodo              24502 non-null  int64
 1   Entidad_Federativa   24502 non-null  object
 2   Sexo                 24502 non-null  object
 3   Grupo_edad           24502 non-null  object
 4   Actividad_economica  24502 non-null  object
 5   Numero_personas      24502 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ MB

Let's convert `Periodo` to datetime and set is as our `index`.

In [18]:
formal_eco['Periodo']=pd.to_datetime(formal_eco['Periodo'], format='%Y%m%d')

In [19]:
formal_eco=formal_eco.set_index('Periodo')

In [20]:
formal_eco.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24502 entries, 2020-03-01 to 2021-09-01
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entidad_Federativa   24502 non-null  object
 1   Sexo                 24502 non-null  object
 2   Grupo_edad           24502 non-null  object
 3   Actividad_economica  24502 non-null  object
 4   Numero_personas      24502 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.1+ MB